<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">
            <%= sub.name %>
        </h1>
        <small class="text-center mb-3">
            <%= sub.otherNames %>
        </small>
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h5>Variations</h5>
                    <ul class="list-group">
                        <% for (let subvar of sub.subVars) {%>
                            <li class="list-group-item">
                                <%= subvar.name %>
                            </li>
                            <ul class="list-group">
                                <% for (let subimpl of subvar.subImpls) {%>
                                    <li class="list-group-item">
                                        <%= subimpl.position.name%>
                                    </li>
                                    <% } %>
                            </ul>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>