<% layout('layouts/boilerplate') %>

    <div class="row">
      
        <div class="col-6 offset-3">
            <div class="card">
                <h1 class="text-center">
                    <%= sub.name %>
                </h1>
                <small class="text-center mb-3">
                    <%= sub.otherNames %>
                </small>
                <div class="card-body">
                    <h5>Variations</h5>
                    <div class="list-group">
                        <% for (let variation of sub.variations) {%>
                            <div class="list-group-item">
                                <h6>
                                    <%= variation.name %>
                                </h6>
                                <div class="embed embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="<%= variation.video %> " allowfullscreen></iframe>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>