<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">
            <%= submission.name %>
        </h1>
        <small class="text-center mb-3">
            <%= submission.otherNames %>
        </small>
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>