<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h1>Contribute</h1>
                    <p>BJJ_DB exists as a catalog of all the free jiu jitsu knowledge available on the internet. We rely
                        on bjj practioners from around the globe to share their knowledge and expertise. We've provided
                        the framework for modeling jiu jitsu positions, moves and techniques, but need your help to
                        build our database.
                    </p>
                    <p>If you would like to contribute please create an account, then follow the links below. Your
                        contributions will be reviewed
                        by an admin before being added to the public database.
                    </p>
                    <div class="row">
                        <a class="btn btn-success mb-3" href="/positions/new">Add New Position</a>
                        <a class="btn btn-success" href="/submissions/new">Add New Submission</a>
                    </div>
                </div>
            </div>
        </div>
    </div>