<% layout('layouts/boilerplate')%>

    <div class="justify-content-center">
        <h1 class="text-white text-center display-1">The Brazillian Jiu Jitsu Database</h2>
            <h3 class="text-white text-center">
                <b>
                    <%=count %>
                </b> techniques catalogued
            </h3>
            <p class="text-white text-center">Welcome to bjjDB, the exhaustive database for Jiu Jitsu techniques and
                positions.</p>
            <div class="d-flex justify-content-center">
                <ul class=" text-white">
                    <li>Explore the database to expand your knowledge</li>
                    <li>Contribute by adding to the database</li>
                    <li>Record your training with the Journal</li>
                </ul>
            </div>

    </div>


    <link rel="stylesheet" href="/stylesheets/home.css">