<% layout('layouts/boilerplate') %>

    <h1>Edit Positoin</h1>
    <form action="/positions/<%= position._id %>?_method=PUT" method="POST">

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="position[name]" value="<%= position.name %> ">
        </div>
        <button>Update Position</button>
    </form>
    <a href="/positions/<%= position._id %> ">Back To Position</a>