<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>All Positions</title>
</head>

<body>
    <h1>All Positions</h1>

    <div class="row">
        <% for (let position of positions) {%>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="http://1.bp.blogspot.com/-O_GvcSeU7GU/VkDfR40tm1I/AAAAAAAAAHg/UiSA25Cjj0Q/s1600/girls-bluebelt.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=position.name %>
                    </h5>
                    <a href="/positions/<%= position._id %>" class="card-link">Learn</a>
                </div>
            </div>
            <% } %>
    </div>
</body>

</html>