<% layout('layouts/boilerplate')%>
    <h1>All Positions</h1>
    <div class="row">
        <a class="btn btn-success" href="/positions/new">Add New Position</a>
    </div>
    <div class="row">
        <% for (let position of positions) {%>
            <div class="card text-light bg-dark m-1 " style="width: 18rem;">
                <img class="card-img-top mt-2" src="<%=position.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=position.name %>
                    </h5>
                    <p>
                        <small>
                            <%=position.otherNames %>
                        </small>
                    </p>
                    <a class="btn btn-secondary" href="/positions/<%= position._id %>" class="card-link">Explore</a>
                </div>
            </div>
            <% } %>
    </div>