<% layout('layouts/boilerplate') %>
    <form action="/positions" method="POST">

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="position[name]">
        </div>
        <button>Add Position</button>
    </form>
    <a href="/positions">All Positions</a>