<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Position</title>
</head>

<body>
    <form action="/positions" method="POST">

        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="position[name]">
        </div>
        <button>Add Position</button>
    </form>
    <a href="/positions">All Positions</a>
</body>

</html>