 <form action="/subimpls" class="form-inline" method="POST" id="subForm" novalidate>
        <div class="form-group mb-3">
            <label class="form-label" for="subs">Submissions</label>
            <select class="form-control" id="subs"  required>
                <% for (let sub of position.submissions) {%>
                    <option>
                        <%= sub.name %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="variation" required>Variation</label>
            <select class="form-control" id="variation" ></select>
        </div>
    
        <div class="form-group mb-3">
            <label class="form-label" for="video">Video</label>
            <input class="form-control" type="text" id="video" name="subImpl[video]" required>
        </div>
        <input type="hidden" name="subImpl[position]"  value="<%= position.id%>">
        <input type="hidden" id="subVarId" name="subImpl[subVar]" value="">
        <div class=" mb-3">
            <button class="btn btn-success">Add Submission</button>
        </div>
    </form>
    <a href="/positions/<%= position._id %> ">Back To Position</a>

    <script>
        const subs = <%- JSON.stringify(position.submissions) %>
    </script>