<% layout('layouts/boilerplate')%>
    <div class="container d-flex ms-5">
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">otherNames</th>
                    <th scope="col">Image</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody>
                <% for (let pos of positions) {%>
                    <tr>
                        <td>
                            <%=pos.name %>
                        </td>
                        <td>
                            <%=pos.otherNames %>
                        </td>
                        <td>
                            <%= pos.image %>
                        </td>
                        <td>
                            <form action="/positions/<%= pos.id %>/approve" method="POST" novalidate
                                class="validated-form">
                                <button type="submit" class="btn btn-primary">Approve</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>